/* globals.css */
:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* You may want to add custom global styles that do not conflict with Chakra UI here */
/* For example, if you have a specific font you'd like to use throughout the app: */
body {
  font-family: 'Inter', sans-serif; /* Assuming 'Inter' is the font you'd like to use */
}
