/* globals.css */
:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;  // Light mode
  --background-end-rgb: 240, 240, 240;    // Light mode
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 10, 60;   // Darker violet for start
    --background-end-rgb: 30, 0, 45;      // Even darker violet for end
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

body {
  font-family: 'Inter', sans-serif;
}
